fastapi
uvicorn
sqlalchemy
asyncpg
aiosqlite
greenlet
yt-dlp
aiofiles
python-multipart
pytesseract
Pillow
passlib[argon2]
python-jose[cryptography]
fastapi-mail

httpx
python-dotenv
beautifulsoup4
google-generativeai>=0.8.3
